body {
  margin: 0;
  background-color: #EBE3D5;
  background-image: url(https://wallpapers.com/images/hd/usa-hotel-and-casino-agci552ywkvr4aw7.webp)
}

h1, h2, a, p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, p, .btn-purple {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

h1 {
  color: #ffffff;
  font-size: 40px;
  margin-top: 0;
}

h2 {
  color: #ffffff;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 12px;
}

p {
  color: #ffffff;
  font-size: 18px;
  padding: 24px;
  font-weight: bold;
  margin-top: 5px;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #1640D6;
  font-weight: bold;
}

.btn-purple {
  background-color: #A91079;
  color: white;
  font-size: 18px;
  padding: 16px 25px;
  border-radius: 8px;
}

.btn-purple:hover {
  text-decoration: none;
  background-color: rgb(221, 223, 255);
  color: #2e3cff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}

.btn-purple, .btn-purple:hover {
  transition: background-color 1s ease, color 1s ease;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card {
  background-color: #F3EEEA;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,1.5);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  background: linear-gradient(rgba(103, 87, 109, 0.5), rgba(103, 87, 109, 0.5));
  backdrop-filter: blur(4px);
}

.list-inline > li {
  display: inline-block;
  padding: 16px 24px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  background-color: rgb(221, 223, 255);
  width: 240px;
  border-radius: 12px;
  margin: auto;
}

i {
  font-size: 30px;
}

.photo-profil {
  border-radius: 25%;
  background-color: rgb(221, 223, 255);
}

#card-top {
  margin-top: 0;
}

#card-bottom {
  margin-bottom: 0;
}

@media (max-width: 50px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 50px;
  }
}

@media (max-height: 50px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    height: 50px;
  }
}
